Options +FollowSymLinks
IndexIgnore */*

RewriteEngine on

RewriteCond %{HTTP_HOST} local
RewriteRule . index.php [L, R=302, QSA]


# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php
