.b {
    font-weight: bold;
}

.company-products {
    border-radius: 20px;
}

.uc {
    height: 690px;
    text-align: center;
    overflow: hidden;
}

.uc p {
}

#index-products-switcher,
#index-companies-switcher {
    display: inline-block;;
    padding: 5px;
    border-radius: 4px;
    float: right;
}

#index-new-products,
#index-new-companies {
    display: none;
}

div.index-product-row {
    min-height: 150px;
}

div.index-product-name {
    line-height: 1em;
    overflow: hidden;
    height: 1em;
}

div.index-product-thumb,
div.index-company-thumb {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    height: 100px;
    line-height: 100px;
    margin-top: .5em;
}

div.index-product-thumb a img,
div.index-company-thumb a img {
    max-width: 100px;
    max-height: 100px;
}

div.index-product-price {
    text-align: center;
    border-radius: 2px;
    padding: 2px;
    width: 100px;
    margin: 3px auto 2em auto;
}

header {
    text-align: right;
    font-size: 12px;
}

header > div {
    border-radius: 7px;
    display: inline-block;
    padding: 5px;
    float: right
}

.super-user {
    font-weight: bold !important;
}

.other-user {
    background: #e1e3e6;
}

.tariff {
    opacity: .8;
    padding: .5em 0 1em 0;
}

.tariff:hover {
    opacity: 1;
}


.footer {
    min-height: 60px;
    height: auto;
}

#footer {
    background: #f5f5f5;
}

#social-footer {
    margin-top: -5px;
}

#social-footer img {
    border-radius: 50px;
    box-shadow: 1px 1px 3px 0 rgba(74, 74, 74, 0.27);
}

#social-footer img:hover {
    background-color: #000;
}

#cookie {
    display: none;
    position: fixed;
    bottom: 0;
    opacity: 0.95;
    width: 100%;
    padding: .7em 0;
    color: #345;
    background-color: #f2dede;
}

#cookie p {
    width: 95%;
    margin: 0 auto;
    z-index: 99;
    text-align: center;
    line-height: 1.5em;
    font-size: 1.1em;
}

#cookie a {
    text-decoration: underline;
}

#cookie button {
    margin: .3em 0;
    border: none;
    border-radius: 5px;
}

.look-product-category {
    text-decoration: none !important;
}

/*.look-product-category:hover {*/
/*    background: #f5f5f5;*/
/*    border-radius: .5em;*/
/*    text-decoration: none;*/
/*    padding-left: 4px;*/
/*    margin-left: -4px;*/
/*}*/

.look-product-category:active,
.look-product-category:visited {
    text-decoration: none;
}

.product-child-category {
    display: none;
}

#logo-cropped {
    margin: .5em 0;
    max-width: 90% !important;
}

#logo-cropped img:hover {
    opacity: .83;
}

div.a-index-area {
    display: inline-block;
    float: left;
    margin: .3em 1em .3em 0;
}

div.a-index-area a {
    color: #0b72b8;
    display: inline-block;
    /*min-height: 17px;*/
}

/* nav-search */
form.nav-search {
    display: inline-block;
    float: left;
    margin-left: 80px;
    margin-top: -42px;
    width: 100%;
}

form.nav-search input[type=search] {
    background: #000;
    color: #f5f5f5;
    width: 300px;
    max-width: 50%;
    border: 1px dashed #666;
    border-radius: 10px;
    height: 33px;
    padding-left: 1em;
    outline: 0;
}

/* http://vg/company/476 */

.company-param-name {
    font-size: 16px;
    border-bottom: 1px dotted #0b72b8;
    display: inline-block;
}

.company-products-count {
    font-size: 18px;
    display: inline-block;
    /*border-bottom: 1px dotted #0b72b8;*/
}

.company-introduce {
    font-size: 17px;
    margin-bottom: 2em;
}

/* pagination */
ul.pagination li span,
ul.pagination li a {
    border: 0 !important;
    border-radius: .5em;
}

/* header */
#w0 {
    background: #2e8ac1;
}

#w0 a {
    color: #fff;
}

#w0 a:hover {
    background: #5cb85c;
}

/* TODO сделать бы наоборот - все размывается при нажатии кнопки или ссылки */
/* TODO но тут опасность - отличить ссылки/кнопки перехода от внутренне логических */

div.container, footer {
/ / filter: blur(1 px);
}

div#unload {
    position: fixed;
    top: 45%;
    left: 45%;
    /*display: block;*/
    display: none;
}

div.circle-732 {
    /*background-size: 50%;*/
    /*background: url(/img/732.svg) center no-repeat;*/
}

.balance {
    display: inline-block;
    font-size: 20px;
    padding: 4px;
    border-radius: 4px;
}

#amount {
    width: 100px;
}

/**
    search results
 */
.search-company-thumb {
    max-height: 100px;
    max-width: 100px;
}

.look-product-category {
    text-decoration: none;
    background: orange;
    color: #fff;
    width: 20px;
    display: inline-block;
    border-radius: 10px;
    text-align: center
}

.look-product-category.sub-level {
    text-decoration: none;
    background: orange;
    color: #fff;
    width: 18px;
    display: inline-block;
    border-radius: 9px;
    text-align: center;
}

h1 {
    background: url(/img/bg3.png) bottom !important;
    padding: 3px;
}
#w0 {
    background: #82c7ea rjltctgiy jy yt jxurl(/img/bg0.png) top right no-repeat !important;
    padding: 3px;
}
