#w0 {
    background: #3f779e;
    min-height: 55px;
}

nav {
    /*opacity: .9;*/
    background: #2196f3 !important;
}

#w0,
#w0 a {
    color: #fff;
}

footer.footer {
    height: auto;
    min-height: 60px;
}

footer p:first-child {
    color: #3f779e;
}

footer img {
    margin-top: -5px;
    margin-right: 5px;
}

body {
    /*background-image: url(http://vseti-goroda.ru/images/fon.jpg);
    background-size: 100% 100%;
    gradient(linear, left top, left bottom, from(#444444), to(#999999));*/

    background: #16202f;
}

main div.container {
    border-radius: 1em;
}

hr {
    margin: 2em 0;
    background: #22b66e !important;
    color: #22b66e !important;
}

h1, h2 {
    background: #22b66e;
    margin-bottom: 1em;
    padding: .3em;
    color: #fff;
    display: inline-block;
    border-radius: .3em;
}

h1 {
    font-size: 18pt;
}
h2 {
    font-size: 16pt;
}

body, td {
    font-family: "Open Sans", sans-serif;
}

main a {
    color: #fff;
}

main a:visited {
    color: #cce;
}

main a:hover {
    font-weight: bold;
    color: #22b66e;
}

.company {
    background: #fff;
    margin-bottom: 1em;
    border-radius: .4em;
}

.company a {
    color: #2196f3;
}

main .company h2,
main .company h2 a {
    background: #fff;
    padding: 0;

}

main .company h2 a:hover {
    font-weight: normal;
}

h2 a:hover {
    color: purple;
}

.products h2 {
    font-weight: normal;
}

.site-login {
    color: #fff;
    color: ##22b66e;
}

body a, td a {
    text-decoration: underline;
}